@model project.Models.Admin

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Admin</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.A_Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.A_Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.A_UserName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.A_UserName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.A_Password)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.A_Password)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.A_Cnic)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.A_Cnic)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
